[submodule "repo/cppnet"]
	path = repo/cppnet
	url = https://gitee.com/chenxuan520/cppnet.git
[submodule "repo/cpptest"]
	path = repo/cpptest
	url = https://gitee.com/chenxuan520/cpptest.git
[submodule "repo/cppjson"]
	path = repo/cppjson
	url = https://gitee.com/chenxuan520/cppjson
[submodule "repo/obsidian2web"]
	path = repo/obsidian2web
	url = https://github.com/chenxuan520/obsidian2web
[submodule "docs/Reverse1999Wiki-in-Obsidian"]
	path = docs/Reverse1999Wiki-in-Obsidian
	url = http://github.com/ProudBenzene/Reverse1999Wiki-in-Obsidian.git
